*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: general-font, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
    font-family: general-font;
    src: url(./font/Martel-Bold.ttf);
    src: url(./font/Martel-Black.ttf);
    src: url(./font/Martel-Regular.ttf);
    src: url(./font/Martel-Light.ttf);
}

:root {
    --standard-padding: 1em;
    --smaller-padding: 0.5em;
    --standard-transform-scale: scale(1.05);
    --standard-font-size: 1em;
}

body {
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 1fr;
    height: 80vh;
    margin: 5em;
    padding: var(--standard-padding);
    position: relative;
}

.blur > header, .blur > main > .table{
    filter: blur(2px);
}

header, main {
    padding: var(--standard-padding);
    width: 70%;
    margin: 0 auto;
}

main {
    margin-top: 1em;
    position: relative;
}

.form {
    display:flex;
    justify-content: center;
    border: 1px solid black;
    position: absolute; 
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    border-radius: 10px;
    background-color:cornsilk;
    padding: var(--standard-padding);
    width: 30%;
    display: none;
    z-index: 1;
}

form>div {
    display:grid;
    border-radius: 10px;
    gap: 0.2em;
}

label {
    font-weight: 700;
}

form>div>div {
    display:grid;
    border-radius: 10px;
    padding: var(--smaller-padding);
    gap: 0.2em; 
}

form>div>div>input, form>div>div>button, form>div>div>select {
    width: 15vw;
    border: 1px solid black;
    border-radius: 10px;
    height: 2.5em;
    padding: var(--smaller-padding);
}

form>div>div>input:focus, form>div>div>button:focus, form>div>div>select:focus {
    transform: var(--standard-transform-scale);
}

form>div>div>input:hover, form>div>div>button:hover, form>div>div>select:hover {
    transform: var(--standard-transform-scale);
}

#status, input[type=number] {
    width: 45%;   
}

#submit {
    background-color:rgb(34, 75, 12);
    color: white;
    font-size: var(--standard-font-size);
    margin-bottom: 1em;
}

.close {
    font-size: var(--standard-font-size);
}

.close:hover, input[type=submit]:hover, #status:hover {
    cursor: pointer;
}

table{	
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    margin: 0 auto;
}

th {
    padding: var(--standard-padding);
}

tr {
    border-bottom:1px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 0.5fr 0.5fr;
    align-items: center;
}

td { 
    padding: var(--standard-padding);
}

.addBookButton {
    display: block;
    margin: 5em auto;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color:rgb(34, 75, 12);
    color: white;
}

.addBookButton:hover, img:hover, .action-button:hover {
    cursor:pointer;
    transform: scale(1.1);
}

.action-button, .readUnread-button {
    width: 7em;
    height: 3em;
    border-radius: 10px;
    font-size: 0.7vw;
}

.readUnread-button {
    font-size: 0.65vw;
}

.del-button {
    background-color:rgb(172, 68, 37);
    color: white;
}
